<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-buttons end>
      <button ion-button icon-only>
        <ion-icon name="ios-settings"></ion-icon>
      </button>
    </ion-buttons>
    <!-- <ion-title>Home</ion-title> -->
    <ion-searchbar [(ngModel)]="searchInput" (ionCancel)="onCancel($event)" (ionInput)="filterItems($event)" (ionClear)="onClear($event)"
      animated="true" autocomplete="on" placeholder='search'>
    </ion-searchbar>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="pull down to refresh" refreshingSpinner="circles" refreshingText="updating...">
        </ion-refresher-content>
      </ion-refresher>

  <ion-item *ngFor="let details of searchResults" (click)="navcontactList(details)">
    <p>search results</p>
    <h2>{{details.groupname}}</h2>
  </ion-item>

  <div *ngIf="!isGroupEmpty; else messageDiv">
  <ion-grid>
    <ion-row>
      <ion-col col-4 col-md-3 #groupDivs *ngFor="let group of groups">
        <div class="div-circle" (click)="navcontactList(group)" [(ngModel)]='groupInput' [style.background-color]="group.color">{{group.groupname}}</div>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>

  <ng-template #messageDiv>
    <div class="empty-msg">
    <h2>Start adding your first group...</h2>
    <h2>Its all start here</h2>
  </div>
  </ng-template>

  <ion-fab bottom right>
    <button ion-fab class="fab-mini">
      <ion-icon name='add'></ion-icon>
    </button>
    <ion-fab-list class="fablist" side="top">
      <!-- <button ion-fab class="add-btn" (click)="createContact()">ADD CONTACT
        <ion-icon class="hidden-icon" name='add' color='primary'></ion-icon>
      </button> -->
      <button ion-fab class="add-btn" (click)="createGroup()">ADD GROUP
        <ion-icon class="hidden-icon" name="add" color='primary'></ion-icon>
      </button>
    </ion-fab-list>
  </ion-fab>


</ion-content>
