<ion-menu [content]="content">
  <ion-header>
    <!-- <ion-toolbar class="menu-tb" color="primary"> -->
      <!-- <ion-title>Call Tree</ion-title> -->
      <img class="side-logo" src="assets/img/ibox-menu.png" />
    <!-- </ion-toolbar> -->
  </ion-header>

  <ion-content class="main-content">
    <div class="menu-list">
      <ion-list no-lines class="bg_menu">
        <h2 class="bg_menu" menuClose ion-item>العربي</h2>
      </ion-list>
      <hr />
      <ion-list no-lines class="bg_menu">
        <h2 class="bg_menu" menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
          {{p.title}}
        </h2>
      </ion-list>
      <hr />
      <ion-list no-lines class="bg_menu">
        <h2 class="bg_menu" menuClose ion-item *ngFor="let p of pages_a" (click)="openPage(p)">
          {{p.title}}
        </h2>
      </ion-list>
      <hr />
      <ion-list no-lines class="bg_menu">
        <img class="ibox-img" src="assets/img/ibox.png" />
      </ion-list>
    </div>

  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
